@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
body {
    background: url(https://www.10wallpaper.com/wallpaper/1366x768/1107/HOMEFRONT_FPS_game_HD_wallpaper_01_1366x768.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.tudo {
    background: rgba(153, 153, 153, 0.801);
    padding: 10px;
    border-radius: 6px;
}

.bg-title {
    background-position-x: center;
    background-position-y: center;
    background: url(../img/ti.jpg);
    background-size: cover;
}

#myFooter {
    padding-top: 32px;
}

#myFooter .container {
    text-align: center;
}

#myFooter .footer-copyright {
    margin-bottom: 35px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#myFooter ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 18px;
}

#myFooter a {
    color: #ffffff;
    font-size: 18px;
}

#myFooter li {
    display: inline-block;
    margin: 0px 15px;
    line-height: 2;
}

#myFooter .footer-social {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #eee;
}

#myFooter .mdi {
    font-size: 36px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition: color 0.2s;
}

#myFooter .mdi-facebook:hover {
    color: #2b55ff;
}

#myFooter .mdi-facebook:focus {
    color: #2b55ff;
}

#myFooter .mdi-instagram:hover {
    color: purple;
}

#myFooter .mdi-instagram:focus {
    color: purple;
}

#myFooter .mdi-youtube:hover {
    color: red;
}

#myFooter .mdi-youtube:focus {
    color: red;
}

#myFooter .mdi-twitter:hover {
    color: #00aced;
}

#myFooter .mdi-twitter:focus {
    color: #00aced;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.dados {
    bottom: 10px;
    right: 10px;
}

.text {
    font-family: "Arial Bold", Arial;
    font-weight: 700;
    font-size: 22px;
    color: #ffffff !important;
}

.titulo1 {
    background: rgba(124, 43, 43, 0.801);
    color: white;
    padding: 10px;
    border-radius: 6px;
}

.titulo2 {
    background: rgba(39, 38, 38, 0.801);
    color: white;
    padding: 10px;
    border-radius: 6px;
}